@keyframes fadingQuoteOne { 
    0% { opacity: 0.25 } 5% { opacity: 1 } 20% { opacity: 1 } 22% { opacity: 0 } 40% { opacity: 0 } 80% { opacity: 0 } 100% { opacity: 0 } 
} /* ~0 to 20 */

@keyframes fadingQuoteTwo { 
    0% { opacity: 0 } 18% { opacity: 0 } 20% { opacity: 1 } 38% { opacity: 1 } 40% { opacity: 0 } 60% { opacity: 0 } 100% { opacity: 0 } 
} /* ~20 to 40*/

@keyframes fadingQuoteThree { 
    0% { opacity: 0 } 38% { opacity: 0 } 40% { opacity: 1 } 60% { opacity: 1 } 62% { opacity: 0 } 100% { opacity: 0 } 
} /* ~40 to 60 */

@keyframes fadingQuoteFour { 
    0% { opacity: 0 } 20% { opacity: 0 } 58% { opacity: 0 } 60% { opacity: 1 } 80% { opacity: 1 } 82% { opacity: 0 } 100% { opacity: 0 } 
} /* ~60 to 80 */

@keyframes fadingQuoteFive { 
    0% { opacity: 0 } 20% { opacity: 0 } 40% { opacity: 0 } 78% { opacity: 0 } 80% { opacity: 1 } 95% { opacity: 1 } 96% { opacity: 0.25 } 
} /* ~80 to 100 */

#quoteOne   { animation: fadingQuoteOne 60s infinite; }
#quoteTwo   { animation: fadingQuoteTwo 60s infinite; }
#quoteThree { animation: fadingQuoteThree 60s infinite; }
#quoteFour  { animation: fadingQuoteFour 60s infinite; }
#quoteFive  { animation: fadingQuoteFive 60s infinite; }
